/* 
    Document   : gabarit
    Created on : Mar 11, 2010, 1:56:58 PM
    Author     : daniel
    Description:
        Purpose of the stylesheet follows.
*/

.editable {
    /*background-color: #FFFFE0; */ /* light yellow */
}

.editablehover {
    background-color: yellow !important; /* light yellow */
    color:purple !important;
}

.editable > img {
    /*border: 1px solid #777777 !important;*/
}
.editablehover > img {
    /*border: 1px solid red  !important;*/
}

/* this is the background color of the ckeditor's dialog */
.eko-editor-dialog {
    background-color:white;
}

button.eko-editor-closebtn {
    float:right;
}

.pencilmarkholder {
    display:block;
    position:relative;
    top:0px; left:0px;
    width:0px; height:0px;
}
.pencilmarkholder .pencilmark {
    height:20px; /* override height (comes from text in pointed element otherwise) */
    position:absolute;
    top:0px;
    left:-18px; /*offset for icon placement */
}

/* these will go into jEko_button */
.ui-widget.jeko-btn {
    font-size: 1em; /* override ui-widget font-size: 1.1em */
}
.jeko-btn .ui-button-text  {
    line-height: 1.1;
    text-decoration: none;
}
/* like before */
.jeko-btn .ui-button-text  {
    padding:0.4em 1em 0.4em 1.6em;
}
.jeko-btn .ui-button-icon-primary  {
    left:0.2em;
}

/* override .ui-button-icon-only .ui-button-text {padding: 0.4em}*/
.jeko-action-icon .ui-button-text {
    padding:0;
}
/* override button.ui-button-icon-only {width:2.4em}
         or .ui-button-icon-only {width:2.2em}
*/
.jeko-action-icon.ui-button-icon-only {
    width: 20px;
}
