/* 
    Document   : gabarit
    Created on : Mar 11, 2010, 1:56:58 PM
    Author     : daniel
    Description:
        Purpose of the stylesheet follows.
*/

.editable {
    /*background-color: #FFFFE0; */ /* light yellow */
}

.editablehover {
    background-color: yellow !important; /* light yellow */
    color:purple !important;
}

.editable > img {
    /*border: 1px solid #777777 !important;*/
}
.editablehover > img {
    /*border: 1px solid red  !important;*/
}

/* this is the background color of the ckeditor's dialog */
.eko-editor-dialog {
    background-color:white;
}

button.eko-editor-closebtn {
    float:right;
}

.pencilmarkholder {
    display:block;
    position:relative;
    top:0px; left:0px;
    width:0px; height:0px;
}
.pencilmarkholder .pencilmark {
    position:absolute;
    top:0px;
    left:-18px;
    width:16px;
    padding: 1px 1px;
    display: block;
}

