/* 
    Document   : gabarit
    Created on : Mar 11, 2010, 1:56:58 PM
    Author     : daniel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


.editable {
    border: solid #FFFFE0; /* light yellow */
    border: solid green; /* light yellow */
}

.editablehover {
    border: 2px solid red;
}

#previewWrapper {
    border: solid red;
}