/* 
    Document   : gabarit
    Created on : Mar 11, 2010, 1:56:58 PM
    Author     : daniel
    Description:
        Purpose of the stylesheet follows.
*/

.editable {
    /*background-color: #FFFFE0; */ /* light yellow */
}

.editablehover {
    background-color: yellow !important; /* light yellow */
    color:purple !important;
}

.editable > img {
    /*border: 1px solid #777777 !important;*/
}
.editablehover > img {
    /*border: 1px solid red  !important;*/
}
#previewWrapper {
    border: solid gray;
    padding:10px;
}

#topSpace {
    width: 400px;
}

#editordiv {
    width: 300px;
}
